<%- include('header'); -%>

  <div class="box" id="heading">
    <% if (listTitle === "Saturday" || listTitle === "Sunday") { %>
    <h1 style="color: blue">Todo list for <%= listTitle %></h1>
    <%  } else {%>
    <h1 style="color: green">Todo list for <%= listTitle %></h1>
    <%  }%>
  </div>

  <div class="box">
    <%  for (var i=0; i<newItems.length; i++){ %>
    <div class="item">
      <input type="checkbox">
      <p> <%= newItems[i] %> </p>
    </div>
    <%  } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItems" placeholder="New Item" autocomplete="off">
      <button type="submit" name="list" value=<%= listTitle %>>+</button>
    </form>
  </div>

<%- include('footer'); -%>
