<%- include("partials/header"); -%>

<article id="home">

  <div class="flex-row2 card-container">
    <div class="blog-max about">
      <div class="container-relative humm">
        <div class="white-color"></div>
        <h1 class='center contact-prop'><%=title%></h1>
      </div>
      <div class="text-container2">
        <br>
        <p><%=content%></p>
        <h6><%=date%></h6>
      </div>
      <div class="card-tail white"></div>
    </div>
  </div>

</article>


<%- include("partials/footer"); -%>
